.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.word-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 10px;
  margin-top: 20px;
}

.word-box {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}


.image-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.image-list-item {
  cursor: pointer;
  max-width: 80px; /* Adjust the maximum width for small images */
}

.selected {
  border: 2px solid blue;
}

.image-detail {
  display: flex;
  align-items: flex-start; /* Align the content at the top */
  width: 100%;
}

.selected-image-container {
  width: 65%;
  max-height: 80vh;
}

.selected-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid gray;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  margin-top: 20px;
}

.edit-button {
  padding: 10px 20px; /* Adjust padding for button size */
  font-size: 16px; /* Adjust font size for button text */
  background-color: #007bff; /* Adjust background color */
  color: white; /* Adjust text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 250px; /* Adjust the margin to move it towards the left */
  margin-top: 10px; /* Adjust spacing between buttons */
}

.spacer {
  height: 20px; /* Adjust the height as needed */
}

.word-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 10px;
  margin-top: 20px;
}

.word-box {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  display: flex; /* Change to display: flex */
  align-items: center; /* Center vertically within the bubble */
}

